@import "../../variables.css";

.container {
  color: var(--color-text);
  margin-top: 120px;
  background-color: var(--color-secondary);
  padding: 58px 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.content {
  display: flex;
  width: 100%;
  justify-content: space-between; 
  align-items: flex-start; 
}

.textContent{
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
  align-items: flex-start; 
}

.textContent h2 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.textContent p {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1.75px;
}

.links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  display: flex;
  align-items: center;
  gap: 20px;
}

.link img{
  width: 30px;
}

.link a {
  color: var(--color-text);
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1.5px;
  margin: 10px 5px;
}
.link a:hover{
  color: var(--color-primary);
}

.formContainer{
  width: 100%;
  max-width: 600px; 
  padding: 20px; 
  margin-left: auto;
  background-color: var(--color-dark); 
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.contact{
  display: flex;
  flex-direction: column;
}
.contact input,
.contact textarea {
  width: calc(100% -20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--color-text); 
  border-radius: 5px; 
  font-size: 20px;
  font-weight: 400;
}

.contact textarea {
  resize: vertical; 
}

.contact input[type="submit"] {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--color-text);
  border-radius: 5px;
  font-size: 18px;
  background-color: var(--color-primary); 
  color: var(--color-text); 
  cursor: pointer;
}
.contact input[type="submit"]:hover {
  background-color: var(--color-text);
  border: 1px solid var(--color-primary);
  color: var(--color-primary); 
}


@media screen and (max-width: 830px) {
  .container {
    align-items: center;
  }

  .content {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .textContent {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    text-align:center;
  }
  
  .textContent .links {
    justify-content: center;
  }
  .iconLink {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .link .imgs {
    margin-right: 20px;
  }

  .formContainer {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 600px) {
  .textContent p {
    font-size: 18px;
  }
  .link a {
    font-size: 18px;
  }
  .link img{
    width: 20px;
  }
  .contact input,
  .contact textarea {
    font-size: 16px; 
  }

  .formContainer {
    padding: 10px; 
  }
}

@media screen and (max-width: 400px) {
  .textContent p {
    font-size: 18px; 
  }
  .link a {
    font-size: 18px;
  }
  .link img{
    width: 20px;
  }
  .links .link{
    justify-content: flex-start;
  }
  .contact input,
  .contact textarea {
    font-size: 16px; 
  }
}